@font-face {
  font-family: "SixtyfourLocal";
  src:
    url("Sixtyfour/Sixtyfour-Regular.woff2") format("woff2"),
    url("Sixtyfour/Sixtyfour-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
