@font-face {
    font-family: 'Fake Receipt';
    src: url('FakeReceipt/FakeReceipt-Regular.woff2') format('woff2'),
        url('FakeReceipt/FakeReceipt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

