@import url("./public/fonts/index.css");

:root {
  /* Colors */
  --black: #000000;
  --white: #ffffff;
  --background: rgb(var(--black));
  --background-offset: rgb(40, 40, 40);
  --foreground: rgb(var(--white));
  --terminal-background: black;
  --terminal-color: var(--white);
  --color-info: #50908e;
  --color-alert: #effb04;
  --color-success: #3bb13b;
  --color-failure: #ff4000;
  --color-help: #534bce;
  --color-special: #d013d0;

  /* Sizing */
  --padding-button: 6px 12px;
  --col-gap: 1rem;
  --row-gap: 2rem;
  --taskbar-height: 30px;
  --titlebar-height: 30px;
  --tileunit: 100;
  --tilesize: calc(var(--tileunit) * 1px);

  /* Fonts */
  --font-family-special: "Fake Receipt", monospace;
  --font-family-quote: "Baleze", monospace;
  --font-family: "Fake Receipt", monospace;
  --font-size: 18px;
  --font-size-normal: 20px;
  --font-size-large: 18px;

  /* Deco */
  --muted-opacity: 0.7;
  --backdrop: blur(10px);
  --outer-border: 1px solid rgba(var(--foreground), var(--muted-opacity));
  --terminal-border: 1px solid #666;

  /* Materials */
  --BUG: #9be97c;
  --PISS: #e9de7c;
  --BLOOD_LIPIDS: #ff3333;
  --BLOOD: #ff3333;
  --SLUDGE: #b1ab02;
  --DIRT: #c27800;
  --ENERGY: #00c224;
  --PLANT: #00c224;
  --CAFFEINE_SLUSHY: #e0bf00;
  --CLUB_MATE: #e0bf00;
  --DIET_RED_BULL: #00edfa;
  --PRIME: #19fa00;
  --M150: #f58f00;
  --FIVE_HOUR_ENERGY: #f57200;
  --MONSTER: #4cff42;
  --E_LIQUID: #c2fffc;
  --TOBACCO: #854d00;
  --CIGARETTE_JUICE: #4a3e08;
  --ERASERBABY: #57eeff;

  /* Transaction states */
  --STATE_INACTIVE: #353535;

  /* Animate.css */
  --animate-duration: 1s;
}

* {
  box-sizing: border-box;
  border-color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  /* user-select: none; */
  margin: 0;
  padding: 0;
}

.dotted {
  background-image: radial-gradient(currentColor 1px, transparent 0);
  background-size: 7px 7px;
  background-position: -3px -3px;
}

.cursor-none {
  cursor: none;
}

.pointer-events-none {
  pointer-events: none;
}

.BUG {
  color: var(--BUG);
}
.PISS {
  color: var(--PISS);
}
.BLOOD_LIPIDS,
.BLOOD {
  color: var(--BLOOD);
}
.SLUDGE {
  color: var(--SLUDGE);
}
.DIRT {
  color: var(--DIRT);
}
.ENERGY,
.PLANT {
  color: var(--ENERGY);
}
.CAFFEINE_SLUSHY,
.CLUB_MATE {
  color: var(--CAFFEINE_SLUSHY);
}
.DIET_RED_BULL {
  color: var(--DIET_RED_BULL);
}
.PRIME {
  color: var(--PRIME);
}
.M150 {
  color: var(--M150);
}
.FIVE_HOUR_ENERGY {
  color: var(--FIVE_HOUR_ENERGY);
}
.MONSTER {
  color: var(--MONSTER);
}
.E_LIQUID {
  color: var(--E_LIQUID);
}
.TOBACCO {
  color: var(--TOBACCO);
}
.CIGARETTE_JUICE {
  color: var(--CIGARETTE_JUICE);
}
.ERASERBABY {
  color: var(--ERASERBABY);
}

*::-webkit-scrollbar {
  display: none;
}

.flash {
  animation: strobe 200ms steps(1, end) infinite;
}

.flash-fast {
  animation: strobe 80ms steps(1, end) infinite;
}

.flash-a-little,
.flash-a-bit {
  animation: strobe 200ms steps(1, end) 3;
}

.muted {
  color: #ccc;
}

.xl-text {
  font-size: 50vh;
  line-height: 31vh;
  text-align: center;
  letter-spacing: -70px;
}

.centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) translateX(-6vh);
}

.text-stroke-red {
  text-shadow:
    -1px -1px 0 red,
    1px -1px 0 red,
    -1px 1px 0 red,
    1px 1px 0 red;
}

.text-stroke-white {
  text-shadow:
    -1px -1px 0 var(--white),
    1px -1px 0 var(--white),
    -1px 1px 0 var(--white),
    1px 1px 0 var(--white);
}

.race > span:nth-child(3n) {
  animation: strobe-slow 200ms steps(1, end) infinite;
  animation-delay: 100ms;
}
.race > span:nth-child(3n + 1) {
  animation: strobe-slow 200ms steps(1, end) infinite;
  animation-delay: 200ms;
}
.race > span:nth-child(3n + 2) {
  animation: strobe-slow 200ms steps(1, end) infinite;
  animation-delay: 300ms;
}
.race > span:nth-child(3n + 3) {
  animation: strobe-slow 200ms steps(1, end) infinite;
  animation-delay: 400ms;
}

.split-screen {
  display: grid;
  grid-template-columns: 40ch 1fr;
  height: 100vh;
}

@keyframes strobe {
  50% {
    opacity: 0;
  }
}

@keyframes strobe-slow {
  20% {
    opacity: 0;
  }
}

body,
html {
  background: var(--black);
  color: var(--white);
  font-family: var(--font-family);
  font-size: var(--font-size-normal);
  margin: 0;
  padding: 0;
  overscroll-behavior-y: none;
}

h1,
h2,
h3,
p,
svg {
  user-select: none;
}

button {
  padding: 20px;
  font-size: var(--font-size-normal);
  font-family: var(--font-family);
  margin-top: 1em;
  cursor: pointer;
  background: black;
  color: white;
  border: 4px solid white;

  &:hover {
    background: white;
    color: black;
  }
}

[role="button"] {
  text-decoration: underline;
}

@supports (-webkit-text-stroke: 1px black) {
  .text-outline {
    -webkit-text-stroke: 2px black;
    -webkit-text-fill-color: white;
  }

  .text-inverted-outline {
    -webkit-text-stroke: 2px yellow;
    -webkit-text-fill-color: black;
  }
}

.action {
  z-index: 999900000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  display: block;
  position: absolute;
}

.loading-message p:first-child {
  margin-top: 0;
}

.loading-message .info {
  background: var(--color-info);
}

.loading-message .alert {
  color: var(--color-alert);
}

.loading-message .success {
  color: var(--color-success);
}

.loading-message .failure {
  color: var(--color-failure);
}

.loading-message .quote {
  letter-spacing: 5px;
}

/* .loading-message span {
  display: block;
} */

pre {
  display: block;
  white-space-collapse: preserve;
  text-wrap: nowrap;
  margin: 0;
  text-indent: 0;
}

.loading-message div {
  margin-bottom: 1em;
}

.flash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  mix-blend-mode: exclusion;
  z-index: 100000;
  opacity: 0.8;
}
